*{
    margin: 0;
    padding: 0;
}
body{
    overflow: hidden;
}

.sky{
   height: 100vh;
   width: 100%;
   background-image: url(../images/background.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   position: absolute;
}

.trees{
    height: 100vh;
    width: 100%;
    background-image: url(../images/trees.png);
    background-repeat: no-repeat;
    position: absolute;
    top: -144px;
    background-size: cover;
}
.track{
    height: 40vh;
    width: 800vw;
    background-image: url(../images/track.png);
    background-repeat: repeat-x;
    position: absolute;
    top: 70vh;
    animation: carMove linear 13s infinite;

}

.car{
    background-image: url(../images/car_body.png);
    height: 100px;
    width: 380px;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    left: 300px;
    bottom: 220px;
    animation: shake linear .3s infinite;

}

.wheel1 img{
   width: 77px;
   position: relative;
   top: 42px;
   left: 42px;
   animation: wheelRotation linear .6s infinite;
}

.wheel2 img{
    width: 77px;
    position: relative;
    top: -39px;
    left: 235px;
    animation: wheelRotation linear .6s infinite;
}

@keyframes wheelRotation
{
    100%{
        transform: rotate(360deg);
    }
}

@keyframes carMove
{
    100%{
        transform: translate(-500vw);
    }
}

@keyframes shake
{
    0%{
        transform: translateY(-5px);
    }
    50%{
        transform: translateY(5px);
    }
    100%{
        transform: translateY(-5px);
    }
}

@media screen and (min-width: 0px) and (max-width: 960px) {
    .car{
        background-image: url(../images/car_body.png);
        height: 100px;
        width: 380px;
        background-size: cover;
        background-repeat: no-repeat;
        position: absolute;
        left: 0px;
        bottom: 200px;
        animation: shake linear .3s infinite;
    
    }   
}

@media screen and (min-width: 940px) {
    .car{
        background-image: url(../images/car_body.png);
        height: 100px;
        width: 380px;
        background-size: cover;
        background-repeat: no-repeat;
        position: absolute;
        left: 0px;
        bottom: 190px;
        animation: shake linear .3s infinite;
    
    }   
}